.navbar{
  background-color: black;
}
.container-fluid{
  font-size: 20px;
}
.nav-link{
  color:rgb(251, 248, 248);
  border-radius: 15px;
  margin: auto 10px;
}
.nav-link:hover{
    background-color: rgb(244, 241, 241);
    color:rgb(5, 0, 0);
    font-size: 20px;
    transition: ease-in-out 0.3s;
}
